# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Env
.env

# Serverless Functions Build Artifacts
serverless_functions/*
!serverless_functions/app_handler.py
!serverless_functions/__init__.py
