[build]
  command = "pip install -r requirements.txt"
  functions = "functions"
  publish = "."

[functions]
  included_files = ["app/**/*", "requirements.txt", "runtime.txt", ".env"]
  node_bundler = "esbuild" 

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app_handler"
  status = 200