[build]
  command = "pip install -r requirements.txt"
  functions = "api"
  publish = "public"

[functions]
  included_files = ["app/**/*", "requirements.txt", "runtime.txt", ".env"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app_handler"
  status = 200