[build]
  # DEBUG COMMAND ADDED: ls -R
  # This will print the file structure in the logs so we can see what Netlify sees.
  command = "ls -R && pip install -r requirements.txt"
  functions = "backend"
  publish = "public"

[functions]
  included_files = ["app/**/*", "requirements.txt", "runtime.txt", ".env"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app_handler"
  status = 200