[build]
  command = "tree -L 3 && pip install -r requirements.txt"
  functions = "netlify/functions"
  publish = "public"

[functions]
  included_files = ["app/**/*", "requirements.txt", "runtime.txt", ".env"]

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app_handler"
  status = 200