[build]
  command = "bash build.sh"
  functions = "ready_functions"
  publish = "public"

[build.environment]
  PYTHON_VERSION = "3.11"



[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app_handler"
  status = 200