[build]
  functions = "netlify/functions"
  publish = "."

[functions]
  directory = "netlify/functions"

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/app_handler/:splat"
  status = 200
