[build]
  command = "bash build.sh"
  functions = "serverless_functions"
  publish = "public"

[functions]
  external_node_modules = []

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/app_handler"
  status = 200